.hhTable th { /* Style setting for all teble headings */
	padding: 6px 6px 6px 6px;
	text-shadow: 2px 2px 2px #b53257;
	border: 1px solid #000;																								  					/*********************************/
	background: rgb(243,226,199); /* Old browsers */																															/*                               */
	background: -moz-linear-gradient(top,  rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 95%, rgba(233,212,179,1) 100%); /* FF3.6+ */						/*                               */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(50%,rgba(193,158,103,1)), color-stop(95%,rgba(182,141,76,1)),	/*                               */
		color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */																											/*                               */
	background: -webkit-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 95%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */		/*                               */
	background: -o-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 95%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */					/*                               */
	background: -ms-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 95%,rgba(233,212,179,1) 100%); /* IE10+ */							/*                               */
	background: linear-gradient(to bottom,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 95%,rgba(233,212,179,1) 100%); /* W3C */							/*                               */
											/*********************************/
}
.hhTable thead th {text-align: center;}
.hhTable td:first-child {font-weight: bold;}
.hhTable td {text-align: left; line-height: 130%; border: 1px solid #000; padding: 6px;}.hhpdfs td { border: 0px }
small {font-style:italic; font-size:12px;}
table{
	margin: 0 auto 0 auto;
	background: url(../images/mainimagefade.gif);
	border: 3px solid #000;
	border: solid black .3em;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 3px #49964d;
    box-shadow: 3px 3px 3px 3px #49964d; 
/*	-moz-transform: scale(1) rotate(.3deg) translateX(2px) translateY(5px) skewX(5deg) skewY(5deg);
	-webkit-transform: scale(1) rotate(.3deg) translateX(2px) translateY(5px) skewX(5deg) skewY(5deg);
	-o-transform: scale(1) rotate(.3deg) translateX(2px) translateY(5px) skewX(5deg) skewY(5deg);
	-ms-transform: scale(1) rotate(.3deg) translateX(2px) translateY(5px) skewX(5deg) skewY(5deg);
	transform: scale(1) rotate(.3deg) translateX(2px) translateY(5px) skewX(5deg) skewY(5deg); */
}
p.hhTable {margin-top: 15px;}
#contactTable {border: 2px solid black;}
#contactTable th {font-size:15px; padding: 0 5px 2px 5px;}
#contactTable th:nth-child(2) {text-align: left; }
#contactTable td {font-size:14px; padding: 0 5px 2px 5px;}
#contactTable td:first-child {font-weight: bold; text-align:right; }
#contactTable td:nth-child(2){text-align: left; }
#contactTable td:nth-child(3){text-align: left; }#contactTable td:nth-child(4){text-align: left; }
.colMerg {text-align: center; }
.hhClosed {background-color: gray;}
#hhForms tr {border: 1px solid black;}
#hhForms img {max-width: 55px; height:50px;}
#hhForms td:nth-child(4) {padding: 0 5px 0 5px;}
#bookingFrom td {text-align: right;padding: 0 5px 0 5px;}